<svg class="mini-grafico" viewBox="0 0 460 90" aria-hidden="true">
  <defs>
    <linearGradient id="gradLinha" x1="0" x2="1">
      <stop offset="0" stop-color="#3d8bff"/><stop offset="1" stop-color="#3ddc97"/>
    </linearGradient>
    <linearGradient id="gradArea" x1="0" x2="0" y1="0" y2="1">
      <stop offset="0" stop-color="#3d8bff" stop-opacity=".28"/><stop offset="1" stop-color="#3d8bff" stop-opacity="0"/>
    </linearGradient>
  </defs>
  <path class="area" d="M0 70 L40 62 L80 66 L120 48 L160 54 L200 38 L240 44 L280 26 L320 34 L360 18 L400 24 L456 8 L456 90 L0 90 Z"/>
  <path class="linha-grafico" d="M0 70 L40 62 L80 66 L120 48 L160 54 L200 38 L240 44 L280 26 L320 34 L360 18 L400 24 L456 8"/>
  <circle class="ponto" cx="456" cy="8" r="4"/>
</svg>
